@import "../../../assets/styles/variables";

.form {
    height: auto;
    min-height: 48vh;
    padding-bottom: 5vh;
    font-size: 0.9rem;
    // border: 1px solid black;
    @media only screen and (max-width: 768px) {
        padding-bottom: 5vh;
    }

    &__title {
        font-weight: bold;
        padding: 1%;
    }

    &__terms-container {
        background-color: $tertiary-color;
        padding: 1% 2%;
        padding-bottom: 1px;
        margin-bottom: 1vw;
    }

    &__terms {
        font-size: 0.9rem;
        color: $secondary-light;
        padding: 0 0;

        @media only screen and (max-width: 768px) {
            font-size: 0.7rem;
        }
    }

    &__terms-label {
        color: $secondary;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 0 1%;

        @media only screen and (max-width: 768px) {
            font-size: 0.7rem;
        }
    }

    &__optin-label {
        color: $secondary-light;
        font-size: 0.9rem;
        padding: 0 1%;

        @media only screen and (max-width: 768px) {
            font-size: 0.7rem;
        }
    }
    
}

.buttons {
    height: 10vh;
    margin: auto 0;
    padding: 0;

    @media only screen and (max-width: 768px) {
        font-size: 0.8rem;
    }
}

.button--form {
    padding: 1% 4%;
    margin-right: 2%;
    font-weight: bold;
}