@import "../../../variables.scss";

.form {
    height: 48vh;
    padding-bottom: 5vh;
    // border: 1px solid black;

    &__title {
        font-weight: bold;
        padding: 1%;
    }

    &__termsContainer {
        background-color: $tertiary-color;
        padding: 1% 2%;
        padding-bottom: 1px;
        margin-bottom: 1vw;
    }

    &__terms {
        font-size: 0.9rem;
        color: $secondary-color;
        padding: 0 0;
    }

    &__termsLabel {
        color: $primary-color;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 0 1%;
    }

    &__optinLabel {
        color: $secondary-color;
        font-size: 0.9rem;
        padding: 0 1%;
    }
}

.buttons {
    height: 10vh;
    // border: 1px solid red;
    margin: auto 0;
    padding: 0;
}

.button--form {
    padding: 1% 4%;
    margin-right: 2%;
    font-weight: bold;
}