@import "../../../assets/styles/variables";

.form {
    height: auto;
    min-height: 45vh;
    padding-bottom: 5vh;
    // border: 1px solid black;
    @media only screen and (max-width: 768px) {
        padding-bottom: 3vh;
    }

    &__row {
        height: 25%;
        padding: 1% 0;
    }

    &__label {
        color: $text-color;
        font-weight: bold;
        font-size: 0.9rem;
        margin-bottom: 1%;

        @media only screen and (max-width: 768px) {
            font-size: 0.7rem;
        }

    }

    &__input {
        width: 100%;
        margin: 0;
        height: 40%;
        color: $secondary-light;
        border: none;
        background-color: $tertiary-color;
        padding: 5px 15px;
        font-size: 0.9rem;
        font-weight: bold;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        @media only screen and (max-width: 768px) {
            font-size: 0.7rem;
            height: 4vh;
        }
    }

    // &__error-message {
    //     font-size: 0.7rem;
    //     margin: 0;
    //     padding: 0;
    //     color: red;
    // }

    &__feedback {
        font-size: 0.7rem;
        margin: 0;
        padding: 0;

        @media only screen and (max-width: 768px) {
            font-size: 0.5rem;
        }

    }
}

.invalid {
    border: 1px red solid;
}

.buttons {
    height: 10vh;
    // border: 1px solid red;
}

.button--form {
    padding: 1% 4%;
    margin-right: 2%;
    font-weight: bold;

    @media only screen and (max-width: 768px) {
        font-size: 0.8rem;
        
    }
}