@import "../../../variables.scss";

.form {
    height: 40vh;
    margin-bottom: 5vh;
    // border: 2px solid black;

    &__row {
        height: 25%;
        padding: 1% 0;
    }

    &__label {
        color: $text-color;
        font-size: 0.9rem;
    }

    &__input {
        width: 100%;
        color: $text-color;
        border: none;
        background-color: $tertiary-color;
        padding: 1%;
        font-size: 0.8rem;
    }

    &__error-message {
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
        color: red;
    }
}

.invalid {
    border: 1px red solid;
}

.buttons {
    height: 10vh;
    // border: 1px solid red;
}

.button--form {
    padding: 1% 2%;
    margin: auto;
}