@import "../../../variables.scss";

.form {
    height: auto;
    min-height: 45vh;
    padding-bottom: 5vh;
    // border: 1px solid black;

    &__row {
        height: auto;
        padding: 1% 0;

    }

    &__label {
        color: $text-color;
        font-size: 0.9rem;
    }

    &__input {
        width: 100%;
        margin: 0;
        height: 5vh;
        color: $secondary-color;
        border: none;
        background-color: $tertiary-color;
        padding: 5px 15px;
        font-size: 0.9rem;
        font-weight: bold;
    }

    // &__error-message {
    //     font-size: 0.7rem;
    //     margin: 0;
    //     padding: 0;
    //     color: red;
    // }

    &__feedback {
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
    }
    
}

.invalid {
    border: 1px red solid;
}

.buttons {
    height: 10vh;
    // border: 1px solid red;
}

.button--form {
    padding: 1% 4%;
    margin-right: 2%;
    font-weight: bold;
}