// For more customisations... Go over to https://getbootstrap.com/docs/5.0/customize/sass/
$primary: #CE7DA5;
$secondary: #420072;
$success: #8EB987;
$danger: #EE2C43;
$default: #F2F2FF;

$font-family-base:       Nunito, "Helvetica Neue", Tahoma, Arial, San-Serif;
$font-family-sans-serif: $font-family-base;
$font-family-serif:      $font-family-base;
$font-family-monospace:  $font-family-base;


//spacing:

$base-spacing: 5px;