@import "../../../variables.scss";

.step {
    border: 2px solid $tertiary-color;
    background-color: $tertiary-color;
    padding: 2% 4%;
    color: #7a7a7a;
    

    .step-number {
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .step-name {
        font-size: 0.8rem;
        font-weight: bold;
    }
}

.active {
    border-top-color: $primary-color;

    .step-name {
        color: $primary-color;
    }
}

.default {

}

.complete {
    background-color: #ECECF8;
    border-color: #ECECF8;

    .step-name {
        color: $text-color;
    }

    &:hover {
        cursor: pointer;
    }
    
}

